body {
  margin: 0;
}

/* layout */

header {
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* border: magenta 2px solid; */
  text-align: center;

}

nav li {
  margin-right: 3em;
}

nav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.background-bricks {
    background-image: url(img/brickwall.png);
    background-position: center;
    background-repeat: repeat;
}

.inner-site {
  background: white;
  margin: 100px;
  border-radius: 2px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 920px;
}

.container-flex {
  display: flex;
  justify-content: center;
  border: magenta 2px solid;
  /* justify-content: space-around; */
}

.sidebar {
  width: 18%;
  padding: 2rem;
}

.feature-content {
  width: 85%;
  padding: 2rem;
}

.projects {
  display: flex;
  justify-content: center;
}

.projects__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
}

.projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGES */
.headshot-photo {
  max-width: 200px;
  object-fit: cover;
  border-radius: 2px;
}

.feature-photo {
  width: 70%;
  object-fit: cover;
  max-height: 400px;
}

.featured-projects {
  max-width: 50%;
  height: 200px;
  width: 300px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

/* SOCIALS */
.fa {
    padding: 1rem;
    font-size: 30px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

/* TYPOG */

header h1 {
  font-family: 'Raleway', sans-serif;;
  font-weight: Black 900;
  font-size: 100px;
  text-align: center;
  margin: 0;
  /* border-bottom: 1px solid rgb(109, 108, 108); */

}

.featured-projects-titles,
nav li,
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.about-copy {
  line-height: 1.6;
}


.featured-projects-titles {
  margin-bottom: 0.5rem;
}

.featured-projects-body {
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 3rem;
}
